
.login-form {
  padding-top: 8em !important;
}
.login-form .column {
  max-width: 450px;
}
.signup-container {
  margin-top:40px;
}
.login-form .header {
  margin-bottom: 1.4em;
  margin-top: 1.4em;
}
