


.login-form {
  padding-top: 6em !important;
}

.login-form .column {
  max-width: 450px;
}


#login-form {
  padding-top: 4em !important;
}

.signup-container {
  margin-top:40px;
}
.login-form .header {
  margin-bottom: 1.4em;
  margin-top: 1.4em;
}
