
body {
  background-color: #FFFFFF;
}

#react-container {
  height: 90em;
}

.main.container {
  margin-top: 1.1em;
}
.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}
