
body {
  background-color: #FFFFFF;
  overflow:hidden;
}
#react-container {
  height: 100%;
}

.main.container {
  margin-top: 7em;
}
.wireframe {
  margin-top: 2em;
}
.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}
